@page "/administracion"
@inject Principal Principal
<div class="user-info">   

    @* UNA VEZ LOGEADO
    <img src="img/user.svg" />
     <div>
        <a href="authentication/profile" class="username">ADMINISTRADOR</a>
        <button class="btn btn-link sign-out">Sign out</button>
    </div> *@
    @*<a class="sign-in" href="authentication/register">Registrarse</a>*@
    <a class="sign-in" @onclick="AgregarProducto">TEST +</a>
    <a class="sign-in" href="authentication/login">Iniciar Sesión</a>
</div>
@code {

    public void AgregarProducto()
    {
        var productos = Principal.GetProductos();
        if (productos?.Count > 0)
        {
            var ultimoId = productos.LastOrDefault().IdProducto + 1;

            Random random = new Random();
            int numeroRandom = random.Next(10000, 50001);
            var producto = Principal.GetProducto(ultimoId, numeroRandom);
            Principal.AgregarProducto(producto);
        }
    }
}
<!--CSS-->
<style>
    .user-info {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

        .user-info img {
            margin-right: 0.7rem;
            width: 2.6rem;
        }

        .user-info .username {
            display: block;
            font-weight: 700;
            line-height: 0.7rem;
            margin-top: 0.5rem;
            color: white;
            font-size: 1rem;
        }

        .user-info a {
            color: #fff2cc;
            font-size: 0.8rem;
        }

        .user-info button.sign-out {
            color: #fff2cc;
            font-size: 0.8rem;
            padding: 0;
        }

    a.sign-in {
        background: none;
        border: 1.5px solid white;
        border-radius: 0.7em;
        color: white;
        text-transform: uppercase;
        padding: 0.8rem 1.6rem 0.7rem 1.6rem;
        font-family: 'Bahnschrift', Arial, Helvetica, sans-serif;
        font-weight: 100;
        cursor: pointer;
        transition: 0.2s ease-out;
        margin-left: 3px;
    }

        a.sign-in:hover {
            background-color: rgba(255,255,255,0.3);
            color: #fff2cc;
            border-color: #fff2cc;
        }
</style>