@using Entidades

@inject Principal Principal
@inject IJSRuntime JS

<div id="mapaOverlay">
<center class="agrandar-botones" style="margin-top: 1%;">
<br />

@* MAPTILER *@
   <style>
    /* Animación de rebote */
    /* @@keyframes bounce {
        0%, 100% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2); 
        }
    }

  /*   .bounce-animation {
        animation: bounce 3s ease infinite;
    } */ 
</style>

<div id="map" class="mapa-css" style="width: 98.9%; height: 61rem; overflow: hidden;"></div>
 <div id="modalOverlay" class="modal-overlay"></div>
        <div id="modalWindow" class="modal" style="width: 20%;height: 30%;">
     <span class="close-btn" id="closeModal">&times;</span>
     <h3>Seleccionar fecha y hora del encuentro:</h3>
     <input type="date" id="fechaInput">
     <input type="time" id="horaInput">
     <button id="confirmButton" @onclick="CerrarMapaModal" class="custom-btn btn-3">Confirmar Encuentro</button>
 </div>
<script>
    maptilersdk.config.apiKey = 'rvHUmSHpbNCQdRfaXg1e';


    // Mostrar la ventana modal
    function mostrarModal() {
        const modal = document.getElementById("modalWindow");
        const overlay = document.getElementById("modalOverlay");
        modal.style.display = "block";
        overlay.style.display = "block";
    }


    const map = new maptilersdk.Map({
        container: 'map',
        style: "streets-v2",
        center: [-70.686393, -33.434907],
        zoom: 15.6,
    });

    window.activarMapaOverlay = function () {
        const elemento = document.getElementById('mapaOverlay');
        if (elemento) {
            elemento.style.display = 'block';
        }
        map.flyTo({
            zoom: 13.9,
            speed: 0.7,
            curve: 1,
        });
    };

    window.desactivarMapaOverlay = function () {
        const elemento = document.getElementById('mapaOverlay');
        if (elemento) {
            elemento.style.display = 'none';
        }
        map.flyTo({
            center: [-70.686393, -33.434907],
            zoom: 15.6,
            speed: 0.7,
            curve: 1,
        });
    };
    document.addEventListener('keydown', (event) => {
        if (event.key === 'Escape') {
            desactivarMapaOverlay();
        }
    });
    // Coordenadas adicionales
    const coordinates = [
        [-70.686393, -33.434907], // HOME
        [-70.636457, -33.433446], // DARDIGNAC
        [-70.633856, -33.437103], // METRO BAQUEDANO
        [-70.679953, -33.440264], // METRO QUINTA NORMAL
        [-70.629051, -33.452693]  // METRO IRRARAZABAL
    ];

    // Icono para la primera coordenada con efecto de rebote
    const homeIconUrl = 'gps-home.png';
    const homeIcon = document.createElement('div');
    homeIcon.style.backgroundImage = `url(${homeIconUrl})`;
    homeIcon.style.width = '100px';
    homeIcon.style.height = '100px';
    homeIcon.style.backgroundSize = 'contain';
    homeIcon.style.backgroundRepeat = 'no-repeat';
    homeIcon.style.backgroundPosition = 'center';
    homeIcon.classList.add('bounce-animation');  // Aplicar la animación de rebote

    // Icono para las demás coordenadas
    const iconUrl = 'gps-delivery.png';
    const defaultIcon = document.createElement('div');
    defaultIcon.style.backgroundImage = `url(${iconUrl})`;
    defaultIcon.style.width = '110px';
    defaultIcon.style.height = '110px';
    defaultIcon.style.backgroundSize = 'contain';
    defaultIcon.style.backgroundRepeat = 'no-repeat';
    defaultIcon.style.backgroundPosition = 'center';
    defaultIcon.style.cursor = 'pointer';
    defaultIcon.id = 'defaultIcon';

    const createPopupContent = () => {
        const popupContent = document.createElement('div');
        popupContent.style.padding = '10px';
        popupContent.style.fontSize = '14px';
        popupContent.style.fontFamily = 'Arial, sans-serif';
        popupContent.style.color = '#333';
        popupContent.style.backgroundColor = 'white';
        popupContent.style.border = '1px solid #ccc';
        popupContent.style.borderRadius = '5px';
        popupContent.innerHTML = '<strong>Aquí estoy baby :(</strong>';
        return popupContent;
    };

    // Agregar marcadores a las coordenadas
    coordinates.forEach((coord, index) => {
        const marker = new maptilersdk.Marker({ element: index === 0 ? homeIcon : defaultIcon.cloneNode(true) })
            .setLngLat(coord)
            .addTo(map);
                // // Agregar evento de clic al marcador
                // marker.getElement().addEventListener('click', () => {
                //     alert('AMO A MI MAI');
                // });
                // Agregar evento de clic al marcador
                marker.getElement().addEventListener('click', () => {
                    mostrarModal();  // Mostrar la ventana modal cuando se hace clic en el marcador
                });
        // Agregar popup solo a la primera coordenada
        if (index === 0) {
            const popup = new maptilersdk.Popup({ offset: 50 })  // Ajuste de offset
                .setDOMContent(createPopupContent());
            marker.setPopup(popup).togglePopup();
        }
    });

    map.on('error', (e) => {
        console.error('Error cargando el mapa:', e.error);
    });
</script>



<style>
            /* Estilo para el campo de fecha y hora */
            .modal input[type="date"],
            .modal input[type="time"] {
                padding: 8px;
                font-size: 16px;
                border: 1px solid #ccc;
                border-radius: 4px;
                width: 100%;
                margin-bottom: 10px;
            }
            
            /* Estilos para la ventana modal */
            .modal {
                display: none; /* Por defecto, la ventana está oculta */
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: white;
                padding: 20px;
                border: 2px solid #ccc;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                z-index: 1000;
            }

            /* Fondo oscuro que cubre toda la página cuando la ventana modal está activa */
            .modal-overlay {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 999;
            }

            /* Estilo para el campo de fecha */
            .modal input[type="date"] {
                padding: 8px;
                font-size: 16px;
                border: 1px solid #ccc;
                border-radius: 4px;
                width: 100%;
                margin-bottom: 10px;
            }

            /* Icono de cierre */
            .close-btn {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 18px;
                cursor: pointer;
            }

    .mapa-css {
        overflow: visible !important;
        position: relative !important;
        width: 98.9%;
        margin-left: 0.2%;
        height: 61rem;
    }
   .size-medium {
       width: 75% !important;
       /* height: 90% !important; */
       max-width: 100% !important;
       max-height: 100% !important;
   }

   .blazored-modal-focus-trap {
       height: 97% !important;
   }

   .leaflet-popup {
       transition: transform 0s ease-in-out; /* Transición suave */
   }

       .leaflet-popup.leaflet-popup-open {
           animation: rebote 0s ease-in-out;
       }

   @@keyframes rebote {
       0% {
           transform: translateY(-20px); /* Empieza desplazado hacia arriba */
       }

       50% {
           transform: translateY(10px); /* Rebota hacia abajo */
       }

       70% {
           transform: translateY(-5px); /* Rebote hacia arriba */
       }

       100% {
           transform: translateY(0px); /* Posición final */
       }
   }
   /* CAPA NEGRA */
   #mapaOverlay {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: black;
       display: none; /* Cambiado a 'none' para que esté oculto inicialmente */
       align-items: center;
       justify-content: center;
       z-index: 9999;
   }
        </style>
    </center>
</div>

@code {
    //PARAMETROS GENERALES
    [CascadingParameter] Blazored.Modal.BlazoredModalInstance ModalInstance { get; set; }
    public MostrarAlerta Alert;

    private async Task CerrarMapaModal(MouseEventArgs e)
    {
        await JS.InvokeVoidAsync("desactivarMapaOverlay");
        Alert.ShowAlert("Confirmado el encuentro!", "Para finalizar realizar la reserva de la compra.", "success");
    }
    private async Task CerrarMapa(MouseEventArgs e)
    {        
        // Alert.ShowAlert("Confirmado el encuentro!","Para finalizar realizar la reserva de la compra.","success");
    }
}