@using Entidades
@inject IJSRuntime JS

@code {
    public async void ShowBlackScreen()
    {
        await JS.InvokeVoidAsync("BlackScreen");
    }
    public async void RemoveBlackScreen()
    {
        await JS.InvokeVoidAsync("RemoveBlackScreen");
    }
    public async void ShowAlert(string titulo, string mensaje, string icono)
    {
        await JS.InvokeVoidAsync("Swal.fire", new
        {
            title = titulo,
            text = mensaje,
            icon = icono, // Puedes cambiar "success" por "warning", "error", "info", etc.
            confirmButtonText = "Aceptar"
        });
    }

    public async Task<bool> ConfirmAlert(string titulo, string mensaje, string icono, string img = null)
    {
        if(img == null)
        {
            img = "https://cdn-icons-png.flaticon.com/512/5952/5952781.png";
        }
        bool isConfirmed = await JS.InvokeAsync<bool>("ConfirmAlert", titulo, mensaje, icono, img);

        if (isConfirmed)
        {
            return true;
        }
        else
        {
            return false;
        }
    }
    public async Task<bool> ConfirmAlertGreen(string titulo, string mensaje, string icono, string img)
    {
        bool isConfirmed = await JS.InvokeAsync<bool>("ConfirmAlertGreen", titulo, mensaje, icono, img);

        if (isConfirmed)
        {
            return true;
        }
        else
        {
            return false;
        }
    }
    public async void DefaultAlert(string titulo, string mensaje, string icono)
    {
        await JS.InvokeVoidAsync("Swal.fire", new
        {
            position = "center",
            imageUrl = "https://i.gifer.com/1FA.gif",
            imageWidth = 320,
            imageHeight = 270,
            title = titulo,
            text = mensaje,
            showConfirmButton = false,
            timer = 2500
        });
    }
    public async Task CustomAlert(string titulo, string mensaje, string icono, Order carrito, string imgUrl)
    {
        await JS.InvokeVoidAsync("Swal.fire", new
        {
            html = HtmlCarrito(titulo, mensaje, carrito, imgUrl),
            position = "bottom",
            showClass = new
            {
                popup = "animate__animated animate__fadeInLeft animate__faster"
            },
            hideClass = new
            {
                popup = "animate__animated animate__fadeOutRight  animate__faster"
            },
            grow = "row",
            width = "55%", // Ajuste dinámico al 90% del ancho de la pantalla   
            height = "25%",
            showConfirmButton = false,
            showCloseButton = true,
            background = "white", //FONDO SWAL rgb(0 0 0)
            color = "black", // COLOR LETRA
            timer = 992100,
            customClass = new
            {
                title = "swal-title", // CSS DE ACÁ
                image = "swal-image" // CSS DE ACÁ
            }
        });
    }
    public string HtmlCarrito(string titulo, string mensaje, Order carrito, string imgUrl)
    {
        var totalCarrito = carrito.Productos.Sum(p => p.Valor);
        var totalCarritoPesos = totalCarrito.ToString("N0", new System.Globalization.CultureInfo("es-CL"));

        //<img src='{imgUrl}' style='width:75%; height:60%; margin-bottom:20px;'>
        //<h2 style='margin-bottom: 4%;'>{titulo}</h2>
        string html = $@"
        <br/>
        <center style='display: block'>
        <div class='panel panel-primary'>
         <div class='panel-heading'>
             <div class='row'>
                 <div class='icono-spinner-cargar'>
                    <i class='icono-spinner material-icons'>shopping_cart</i>
                 </div>
                 <div class='col-xs-9 text-right'> <!--style='width: 65% !important;'-->
                     <div class='huge'>Agregado al carro</div>
                     <div class='huge-x2'>{mensaje}</div>
                 </div>
             </div>
         </div>   
        </center>";

        return html;
    }
}
<script>
    function ConfirmAlert(titulo, mensaje, icono, img) {
        return Swal.fire({
            title: titulo,
            text: "",
            imageUrl: img,
            imageWidth: 200,
            imageHeight: 170,
            showCancelButton: true,
            confirmButtonText: 'Vaciar carrito <i class="fa-solid fa-trash"> ',
            cancelButtonText: 'Seguir comprando',
            customClass: {
                confirmButton: 'btn btn-danger', 
                cancelButton: 'btn btn-secondary' 
            }
        }).then(result => {
            return result.isConfirmed;
        });
    }
    function ConfirmAlertGreen(titulo, mensaje, icono, img) {
        return Swal.fire({
            title: titulo,
            text: "",
            imageUrl: img,
            imageWidth: 300,
            imageHeight: 170,
            showCancelButton: true,
            confirmButtonText: 'Agregar producto  <i class="fa-solid fa-plus"> ',
            cancelButtonText: 'No todavía',
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            }
        }).then(result => {
            return result.isConfirmed;
        });
     }
</script>
<style>
    /* TOTAL SWAL */
    .huge{
        font-size: 25px;
        margin-right: 4px;
    }

    .huge-x2 {
        font-size: 60px;
        font-weight: bold;
    }
    .panel {
        width: 90%;
        /* margin-bottom: 20px; */
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }

    .panel-primary {
        border-color: #337ab7;
    }

        .panel-primary > .panel-heading {
            color: #fff;
            background-color: #337ab7;
            border-color: #337ab7;
            padding: 20px;
            height: 205px !important;
        }

    /* ICONO */
    .col-xs-3 {
        width: 25%;
        text-align: center;
        margin-bottom: 5px;
        align-items: center;
        padding-top: 18px;
    }

    .col-xs-9 {
        width: 75%;
        text-align: right;
        padding-top: 15px;
        padding-left: 10px;
    }

    .fa-5x {
        font-size: 5em;
    }
    /* ICONO CART */
    .cart__loader {
        position: absolute;
        z-index: 2;
        width: 100%;
        left: 0;
        top: 45%;
    }
    .cart__loader__icon {
        position: absolute;
        top: 10%;
        color: #607d8b;
        font-size: 30px;
        left: 0;
        width: 100% !important;
    }
    .material-icons, .mi {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        display: inline-block;
        width: 1em;
        height: 1em;
        line-height: 1;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
    }
    .cart__loader__spinner {
        display: inline-block;
        width: 50px;
        height: 50px;
    }
    .swal-title {
        margin-top: -11rem;
        height: 180px;
    }

    .swal-image {
        margin-top: -5rem;
    }

    .swal2-html-container .price {
        bottom: 0.5rem;
        right: 1rem;
        font-size: 2.5rem;
        font-weight: 700;
        padding: 0rem 0.7rem;
        border-radius: 4px;
        background-color: #08af08;
        color: white;
        line-height: 2rem;
        margin-top: -12rem !important;
    }
    
</style>