@page "/ReservaTransbank"
@inject TransbankService TransbankService

<h3>Realizar Pago con Transbank</h3>

<button class="btn btn-primary" @onclick="CreateTransaction">Crear Transacción</button>

@if (!string.IsNullOrEmpty(actionUrl))
{
    <p>Redirigiendo a: <a href="@actionUrl" target="_blank">@actionUrl</a></p>
}

@code {
    private string actionUrl;

    private async Task CreateTransaction()
    {
       
    }
}
