html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: white !important;
}

a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.nav-tab {
    margin: 0;
    padding: 0.3rem 1.8rem;
    display: inline-block;
    background-color: rgba(0,0,0,0.02);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    color: white;
    position: relative;
    text-transform: uppercase;
    transition: 0.2s ease-out;
    cursor: pointer;
}
    .nav-tab img {
        filter: brightness(0) saturate(100%) invert(93%) sepia(18%) saturate(0%) hue-rotate(316deg) brightness(109%) contrast(100%);
    }
    .nav-tab:hover {
        color: white;
        text-decoration: none;
        background-color: rgba(255,255,255,0.3);
    }

    .nav-tab.active {
        background-color: rgba(255,255,255,0.2);
        color: #fff2cc;
    }

    .nav-tab img {
        height: 3rem;
        margin-bottom: 0.25rem;
    }

    .nav-tab.active img {
        filter: brightness(0) saturate(100%) invert(93%) sepia(18%) saturate(0%) hue-rotate(316deg) brightness(109%) contrast(100%);
    }

    .nav-tab.active:after {
        content: "";
        position: absolute;
        bottom: -1rem;
        z-index: 1;
        width: 0px;
        height: 0px;
        border-left: 0.6rem solid transparent;
        border-right: 0.6rem solid transparent;
        border-top: 1rem solid rgb(205,51,51);
    }

.main {
    flex-grow: 1;
    overflow-y: auto;
    background: linear-gradient(rgba(0,0,0,0) 40%, rgba(0,0,0,0.4) 80%);
    padding: 1.5rem !important;
}

/*PRODUCTOS*/
.producto-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25rem);
    grid-gap: 2rem;
    justify-content: center;
    padding-left: 0;
}

    .producto-cards > li {
        height: 12rem;
        position: relative;
        background-size: cover;
        border-radius: 0.5rem;
        list-style-type: none;
        box-shadow: 0 3px 4px rgba(0,0,0,0.4);
        transition: 0.1s ease-out;
    }

        .producto-cards > li:hover {
            transform: scale(1.02);
        }

.producto-info {
    border-radius: 0.5rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.7) 30%, rgba(0,0,0,0) 80%);
    padding: 1rem 1rem;
    color: #fff2cc;
    cursor: pointer;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
    line-height: 1.25rem;
}

    .producto-info .title {
        color: white;
        font-size: 1.4rem;
        display: block;
        margin: 0.2rem 0 0.4rem 0;
        font-family: 'Bahnschrift', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }

    .producto-info .price {
        position: absolute;
        bottom: 0.5rem;
        right: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 0rem 0.7rem;
        border-radius: 4px;
        background-color: #08af08;
        color: white;
        line-height: 2rem;
    }


.producto-stock {
    border-radius: 0.5rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    padding: 1rem 1rem;
    color: #fff2cc;
    cursor: pointer;
    line-height: 1.25rem;
}


.producto-info .price-old {
    position: absolute;
    bottom: 2.7rem;
    right: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0rem 0.7rem;
    border-radius: 4px;
    background-color: gray;
    color: white;
    line-height: 1.4rem;
}
/*DISEÑO STOCK*/
.stocks {
    justify-content: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -18px;
    left: 94.5%;
}
    .stocks .stock-naranjo {
        background: orange;
        color: white;
        border-radius: 50%;
        padding: 10px 7px;
        width: 40px;
        height: 40px;
        display: inline-block;
    }
    .stocks .stock-rojo {
        background: red;
        color: white;
        border-radius: 50%;
        padding: 10px 7px;
        width: 40px;
        height: 40px;
        display: inline-block;
    }
    .stocks .stock-verde {
        background: green;
        color: white;
        border-radius: 50%;
        padding: 10px 7px 0px 6px;
        width: 40px;
        height: 40px;
        display: inline-block;
    } 
/*FIN STOCK*/
.loading-bar {
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% - 250px);
    width: 500px;
    height: 6px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2)
}

    .loading-bar::after {
        content: '';
        display: block;
        width: 200px;
        height: 100%;
        background-color: rgb(15 15 163);
        animation: progressbar-slide 1s infinite;
        animation-timing-function: ease-in-out;
    }

@keyframes progressbar-slide {
    0% {
        transform: translateX(-200px);
    }

    70% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(500px);
    }
}

.hidden {
    visibility: hidden;
}


.page-wrapper {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
    .page-wrapper naranjo {
        background: orange;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -11px;
        left: 96%;
        padding: 3px 10px;
    }
    .page-wrapper button {
        /*padding: 5px;*/
        height: 28px;
        width: 400px;
        border: none;
        background: rgb(0 0 99 / 87%);
        position: relative;
        outline: none;
        border-radius: 5px;
        color: white;
        font-size: 18px;
    }

        .page-wrapper button .cart-item {
            position: absolute;
            height: 24px;
            width: 24px;
            top: -10px;
            right: -10px;
        }

            .page-wrapper button .cart-item:before {
                content: "0";
                display: block;
                line-height: 24px;
                height: 24px;
                width: 24px;
                font-size: 12px;
                font-weight: 600;
                background: #2bd156;
                color: white;
                border-radius: 20px;
                text-align: center;
            }

        .page-wrapper button.sendtocart .cart-item {
            display: block;
            animation: xAxis 1s forwards cubic-bezier(1, 0.44, 0.84, 0.165);
        }

            .page-wrapper button.sendtocart .cart-item:before {
                animation: yAxis 1s alternate forwards cubic-bezier(0.165, 0.84, 0.44, 1);
            }

.cart {
    /*position: fixed;*/
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    margin-left: 0.7rem;
    background: #8383834a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

    .cart i {
        font-size: 30px;
        color: white;
    }   

    .cart.shake {
        animation: shakeCart 0.4s ease-in-out forwards;
    }

@keyframes xAxis {
    100% {
        transform: translateX(calc(50vw - 105px));
    }
}

@keyframes yAxis {
    100% {
        transform: translateY(calc(-50vh + 75px));
    }
}

@keyframes shakeCart {
    25% {
        transform: translateX(6px);
    }

    50% {
        transform: translateX(-4px);
    }

    75% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0);
    }
}

/*ADMINISTRACIÓN*/
.shopping {
    position: relative;
    text-align: right;
    cursor: pointer;
}

.shopping img {
    width: 40px;
}

.shopping span {
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -9px;
    left: 80%;
    padding: 3px 10px;
}

.user-info {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    .user-info img {
        margin-right: 0.7rem;
        width: 2.6rem;
    }

    .user-info .username {
        display: block;
        font-weight: 700;
        line-height: 0.7rem;
        margin-top: 0.5rem;
        color: white;
        font-size: 1rem;
    }

    .user-info a {
        color: #fff2cc;
        font-size: 0.8rem;
    }

    .user-info button.sign-out {
        color: #fff2cc;
        font-size: 0.8rem;
        padding: 0;
    }

a.sign-in {
    background: none;
    border: 1.5px solid white;
    border-radius: 0.7em;
    color: white;
    text-transform: uppercase;
    padding: 0.8rem 1.6rem 0.7rem 1.6rem;
    font-family: 'Bahnschrift', Arial, Helvetica, sans-serif;
    font-weight: 100;
    cursor: pointer;
    transition: 0.2s ease-out;
    margin-left: 3px;
    width: 140px;
    height: 46px;
}

    a.sign-in:hover {
        background-color: rgba(255,255,255,0.3);
        color: #fff2cc;
        border-color: #fff2cc;
    }

a.clear {
    width: 75px;
    height: 46px;
}

a.add {
    width: 95px;
    height: 46px;
}
/*FIN ADMINISTRACION*/