@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}
.size-medium {
    width: 80% !important;
    max-width: 100% !important;
}
.blazored-modal .size-medium {
    width: 80% !important;
    max-width: 100% !important;
}