@using SitioWeb.Pages

@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject IJSRuntime JS
<div class="page">
    <main>
        <div class="top-row px-4">
            <a class="logo" href="" style="cursor: pointer;">
                <img src="https://cdn-icons-png.freepik.com/512/9284/9284424.png" alt="Redirigir a Proyecto Blazor"/>
            </a>
            <div></div>
            <a class="nav-tab active">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" width="45" height="45" alt="img" />
            <div>Inicio</div>
            </a>

            <Administracion />
        </div>       
        <MostrarAlerta @ref="Alert" />

        <Index />
        <br />
        <button class="btn btn-primary" @onclick="ShowAlert">Mostrar Alerta DIRECTO</button>
        @code {
            private MostrarAlerta Alert;
            private async Task ShowAlertInIndex()
            {
                await Alert.ShowAlert("ESTA ALERTA ES POR EVENTO", "success");
            }
        }

        @code {
            public void ShowAlert()
            {
                JS.InvokeVoidAsync("Swal.fire", new
                {
                    title = "Productos eliminados",
                    text = "Se han eliminado todos los productos menos los principales.",
                    icon = "success", // Puedes cambiar "success" por "warning", "error", "info", etc.
                    confirmButtonText = "Aceptar"
                });
            }
        }
    </main>
</div>
